{% extends 'base.html.twig' %}

{% block title %}Focumaire de connexion!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


  <h1>Connexion</h1>
      <h2>Formulaire de connexion ! ✅</h2>
      <form action='{{ path('security_login') }}' method='post' >
          <input type='text' id='username' name='_username' class='username' value='' />
          <input type='password' id='password' class='password' name='_password' />
          <button type='submit' class='bt-submit' >Connexion</button></form>
{% endblock %}