{% extends 'base.html.twig' %}

{% block title %}BackLink IT-Room{% endblock %}

{% block body %}
    <h1>BackLink IT-Room</h1>
<div class="container">
    {% for back_link in back_links %}
    <div class="row mb-3">
        <div class="col-sm-3 themed-grid-col">
            <h2>{{ back_link.mySite }}</h2>
        </div>
        <div class="col-sm-6 themed-grid-col">
            <p>
                sur -> {{ back_link.hisSite }}
            </p>
        </div>
        <div class="col-sm-3 themed-grid-col">
            Présent : {% if back_link.foundIt == 1 %} <div class="oui">Oui</div> {% else %} <div class="non">Non</div> {% endif %}
            <br>
            <a href="{{ path('back_link_show', {'id': back_link.id}) }}" class="lien">Voir les logs</a>
        </div>
    </div>
    {% else %}
        no records found
    {% endfor %}

    <a href="{{ path('back_link_new') }}">Create new</a>

</div>
{% endblock %}
