{% extends 'base.html.twig' %}

{% block title %}New BackLink{% endblock %}

{% block body %}
    <h1>Create new BackLink</h1>

    {{ include('back_link/_form.html.twig') }}

    <a href="{{ path('back_link_index') }}">back to list</a>
{% endblock %}
