{% extends 'base.html.twig' %}

{% block title %}New BackLinkLog{% endblock %}

{% block body %}
    <h1>Create new BackLinkLog</h1>

    {{ include('back_link_log/_form.html.twig') }}

    <a href="{{ path('back_link_log_index') }}">back to list</a>
{% endblock %}
